/* .g0 {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
  }
  
  .g1 {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .g2 {
    width: 100%;
    height: 700px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .g4, .g5, .g3 {
    position: absolute;
    color: white; 
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .g5 {
    top: 20%; 
    font-size: 5rem;
  }
  
  .g3 {
    top: 40%; 
    font-size: 3.5rem;
    
  }
  
  .g4 {
    top: 60%; 
    font-size: 1.8rem;
    margin: 0 auto;
    margin-top: 30px;
  }
   */



   * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .g0 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .g1 {
    /* content-container */
    position: relative;
    width: 100%;
    height: 100%;
  }
  .g2 {
    /* Image */
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .g3,
  .g4,
  .g5 {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  
    color: white;
    text-align: center;
  }
  .g3 {
    /* main-heading */
    font-size: 5rem;
    top: 20%;
  }
  .g4 {
    /* sub-heading */
    top: 40%;
    font-size: 3.5rem;
  }
  .g5 {
    /* para */
    font-size: 1.8rem;
    margin: 0 auto;
    margin-top: 0rem;
    top: 60%;
  }
  
  /* //////////////////////// */
  /* Media Queries  Desktop-first Approach*/
  /* Desktop(1025+), Laptop(769-1024), Tablet(501-768), Mobile(320-500) and below
  */
  
  @media only screen and (max-width: 1024px) {
    /* Laptop */
    .g3 {
      font-size: 4.5rem;
      top: 25%;
    }
    .g4 {
      font-size: 3.4rem;
    }
    .g5 {
      font-size: 1.6rem;
      top: 55%;
    }
  }
  @media only screen and (max-width: 768px) {
    /* Tablets */
    .g3 {
      font-size: 3.8rem;
    }
    .g4 {
      font-size: 3.2rem;
    }
    .g5 {
      top: 55%;
      font-size: 1.4rem;
    }
  }
  @media only screen and (max-width: 500px) {
    /* Phones */
    .g3 {
      font-size: 3.5rem;
      top: 15%;
    }
    .g4 {
      font-size: 3rem;
      top: 37%;
    }
    .g5 {
      font-size: 1.4rem;
      top: 50%;
    }
  }